body {
    /*background-color: #f8f9fa;*/
    background-color: #05090A;
    color: #E9FD57;
}
.bg-theme{
    background-color: #05090A !important;
    color: #E9FD57 !important;
}
.bg-card-theme{
    background-color: #E9FD57 !important;
    color: #05090A !important;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s;
}
.nav-bar-bg{
    background-color: #0E1C15 !important;
    color: #E9FD57 !important;
}
.nav-links{
    color: #AEB8B3 !important;
}
.nav-links:hover{
    color: #E9FD57 !important;
}
.search-bar {
    background-color: #0E1C15 !important;
    color: #E9FD57 !important;
    border: 1px solid #E9FD57 !important;
}
.search-bar:focus {
    background-color: #E9FD57 !important;
    color: #0E1C15 !important;
}

.home-btn{
    font-weight: bold;
    color: #E9FD57 !important;
}

.home-btn:hover {
    color: #05090A !important;
    background-color: #E9FD57 !important;
}